# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/
ENV/

# Environment variables
.env

# Flask-specific
instance/
*.db

# Test coverage reports
htmlcov/
.coverage
coverage.xml
coverage_html/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
*.swp
*.swo
